/*
  Hey, I'm Dennis Good, Designer and Developer
  Welcome to my personal site.
*/

body {
	font-family: "Rubik", sans-serif;
	background: transparent;
}

/* Headings & Text */

p {
	font-size: 19px;
	color: #1f1f1f;
	line-height: 30px;
	margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Rubik", sans-serif !important;
	color: #1f1f1f;
}

h1 {
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 10px;
	line-height: 43px;
	margin-bottom: 30px;
	display: inline-block;
}

.header h1 {
	color: #df5d50;
	font-size: 55px;
}

@media screen and (min-width: 480px) {
	h1 {
		font-size: 50px;
		line-height: 60px;
	}
}

h2 {
	font-size: 35px;
	line-height: 48px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 30px;
}

h3 {
	font-size: 21px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 40px;
}

h4 {
	font-size: 0.9em;
}

h5 {
	font-size: 0.8em;
}

ul {
	margin-left: 15px;
	margin-bottom: 45px;
	padding-left: 0;
}

ul li {
	margin-bottom: 15px;
	font-size: 19px;
}

ul.content-list {
	margin-left: 0;
	margin-bottom: 45px;
	padding-left: 0;
}

ul.content-list li {
	margin-bottom: 25px;
	list-style: none;
}

/* Anchor tags */

a img {
	border: 1px solid #000000;
}

a:hover img {
	border: 2px solid #df5d50;
}

a,
a:focus,
a:visited {
	color: #df5d50;
	font-weight: 600;
}

a:hover {
	color: #ff4c39;
	border-bottom: 3px solid #ff4c39;
	text-decoration: none;
}

/* Selection highlighting */

::-moz-selection {
	/* Code for Firefox */
	color: #ffffff;
	background: #000000;
}

::selection {
	color: #ffffff;
	background: #000000;
}

::selection {
	background: #000000;
	/* WebKit/Blink Browsers */
	color: #ffffff;
}

::-moz-selection {
	background: #000000;
	/* Gecko Browsers */
	color: #ffffff;
}

.header {
	margin-top: 40px;
}

.container {
	max-width: 960px;
	padding-right: 30px;
	padding-left: 30px;
}

/* Buttons */

button,
.button {
	background-color: #df5d50;
	color: #ffffff;
	padding: 10px 32px;
	font-weight: 700;
	font-size: 15px;
	font-family: "Rubik", sans-serif !important;
	border-radius: 4px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	background-color: #ff4c39;
	color: #ffffff;
}

button p:hover,
.button p:hover {
	border-bottom: 3px solid #ffffff;
}

button h2,
.button h2 {
	margin-bottom: 0;
	font-size: 15px;
}

/* Home page */

.outside-container {
	min-height: 330px;
	background-color: #fcfcfc;
	position: relative;
	margin-bottom: 30px;
}

.text-container {
	position: relative;
	padding: 30px 55px;
	margin-bottom: 30px;
}

.text-container p:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 480px) {
	.content {
		background-color: transparent;
	}
}

/* Navigation */

.nav-list {
	list-style: none;
	text-decoration: none;
	margin-left: 0;
	margin-top: 22px;
}

.nav-list li {
	display: inline;
	text-transform: uppercase;
	margin-right: 15px;
}

.nav-list li:last-child {
	margin-right: 0;
}

.nav-list a {
	color: #1f1f1f;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 0;
}

.nav-list a:hover {
	border-bottom: 3px solid #ffffff;
}

/* Book shelf */

.book-shelf img {
	max-height: 310px;
	margin-top: 40px;
	margin-bottom: 20px;
}

/* Footer navigation */

.nav-list.footer-list a,
.nav-list.footer-list p {
	font-weight: 500;
	font-size: 12px;
	text-decoration: none;
	border-bottom: 0;
}

@media (min-width: 576px) {
	.nav-list.footer-list a,
	.nav-list.footer-list p {
		font-size: 15px;
	}
}

/* Utility classes */

.v-align {
	display: flex;
	align-items: center;
}

/* 375px - 667px*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
}

/* 320px - 568px */

span.typing-text {
	color: #df5d50;
}

.typing-text::after {
	content: "|";
	animation: blink ease 1s infinite;
}

@keyframes blink {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@media screen and (min-width: 600px) {
	.mobile-break {
		display: none;
	}
}
